.gradasiPane
{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #3498db, #2c3e50);
}
.bg
{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-style : solid;
    -fx-border-color : #000000;
    -fx-border-width: 0 0 1 0;
}
.but:hover {
    -fx-background-color: #3498db;
    -fx-text-fill: white; 
}
.but:pressed {
    -fx-background-color: #fff; 
    -fx-text-fill: white; 
}
